@model Obliviate.Models.Stocks.IncomeStatement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div>
    <h4>IncomeStatement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportedCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossProfitRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossProfitRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchAndDevelopmentExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchAndDevelopmentExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralAndAdministrativeExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralAndAdministrativeExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingAndMarketingExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingAndMarketingExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingGeneralAndAdministrativeExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingGeneralAndAdministrativeExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepreciationAndAmortization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepreciationAndAmortization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ebitda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ebitda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ebitdaratio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ebitdaratio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingIncomeRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingIncomeRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOtherIncomeExpensesNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOtherIncomeExpensesNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeBeforeTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeBeforeTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeBeforeTaxRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeBeforeTaxRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeTaxExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeTaxExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetIncomeRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetIncomeRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epsdiluted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epsdiluted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightedAverageShsOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightedAverageShsOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightedAverageShsOutDil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightedAverageShsOutDil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Symbol">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
