@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Obliviate</title>

    <link rel="icon" href="~/img/favicon.jpg" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesomefree/css/all.min.css" />

    <link rel="stylesheet" href="~/css/config.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/classes/master.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/layout/layout.css" asp-append-version="true" />

</head>

<body>

    @{
        var path = @Context.Request.Path.ToString();
        if (path == "/")
        {
            path = "Home";
        }

        string[] singleUrls = path.Split("/");
        string[] weirdRedirectUrls = { "?page=%2F" };
        foreach(string url in singleUrls) {
            if (url.Contains(weirdRedirectUrls[0])) {
                url.Replace(weirdRedirectUrls[0], string.Empty);
            }
        }

        string tempUrls = "";
        var combinedUrlsList = new List<string>();
        for (int i = 0; i < singleUrls.Length; i++)
        {
            tempUrls += $"{singleUrls[i]}/";
            combinedUrlsList.Add(tempUrls);
        }
        string[] combinedUrls = combinedUrlsList.ToArray();

        string[] cleanPaths = {
    "/Identity/Account/Login",
    "/Identity/Account/Register",
        };
    }

    <partial name="_Notification" />

    <nav class="navbar">
        <div class="logo_container flex_box">
            <div class="hamburger_container flex_box">
                <div id="hamburger_sidebar" class="hamburger_static">
                    <div class="hamburger_line hamburger_line1"></div>
                    <div class="hamburger_line hamburger_line2"></div>
                    <div class="hamburger_line hamburger_line3"></div>
                </div>
            </div>
            <a asp-page="/Home">
                <img class="logo" src="~/img/favicon.png" />
            </a>
        </div>
        <div class="searchbar_container">
            <div class="searchbar">
                <i class="fa-solid fa-search"></i>
                <input class="input search_input" placeholder="Search.." />
                <i class="fa-solid fa-xmark searchbar_x"></i>
            </div>
        </div>

        <div class="profile_wrapper">
            <div class="search_icon_container flex_box">
                <i class="fa-solid fa-search"></i>
            </div>
            <div class="profile flex_box">
                @if (SignInManager.IsSignedIn(User))
                {
                    <i class="fa-solid fa-user"></i>
                }
                else
                {
                    <i class="fa-solid fa-user-secret"></i>
                }
            </div>
        </div>
        <div class="list profile_container">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="list_nolink">
                    <i class="fa-solid fa-user list_icon"></i>
                    <div class="list_container">
                        <!-- @User.Identity?.Name?.Split("@")[0].ToUpper() -->
                        <small class="list_con_text user_name">Yukasama</small>
                        <a class="list_con_text manage_account" asp-area="Identity" asp-page="/Account/Manage/Index"
                           title="Manage">Manage Account</a>
                    </div>
                </div>
            }
            else
            {
                <div class="list_nolink register_container">
                    <i class="fa-solid fa-user-secret list_icon"></i>
                    <div class="list_container">
                        <small class="list_con_text user_name">Not Logged In</small>
                        <a class="list_con_text" id="register" asp-area="Identity" asp-page="/Account/Register"
                           title="Register"><i class="fa-solid fa-plus"></i>Create Account</a>
                    </div>
                </div>
                <div class="list_separator"></div>
                <a class="list_link" id="sign_in" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa-solid fa-arrow-right-to-bracket list_icon"></i>
                    <p class="list_text">Sign&nbspIn</p>
                </a>
            }
            <div class="list_separator"></div>
            <a class="list_link dark_mode" title="Change Theme">
                <div class="dark_mode_icons">
                    <i class="fa-solid fa-moon list_icon dark_icon"></i>
                    <i class="fa-solid fa-sun list_icon light_icon"></i>
                </div>
                <p class="list_text">Theme</p>
            </a>
            <a class="list_link">
                <i class="fa-solid fa-flag list_icon"></i>
                <p class="list_text">Language</p>
            </a>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="list_link" href="">
                    <i class="fa-solid fa-gear list_icon"></i>
                    <p class="list_text">Settings</p>
                </a>
                <div class="list_separator"></div>
                <form class="list_link list_form" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="POST">
                    <i class="fa-solid fa-arrow-right-from-bracket list_icon"></i>
                    <button type="submit" class="list_text">Logout</button>
                </form>
            }
        </div>
    </nav>


    <div class="sidebar list">
        <a class="list_nolink list_path" title="Current Path: @path">
            <i class="fa-solid fa-shoe-prints list_icon"></i>
            <p class="page_path">
                @for (int i = 0; i < singleUrls.Length; i++)
                {
                    if (singleUrls[i] != "")
                    {
                        <a href="@combinedUrls[i]" class="page_path_part">/@singleUrls[i]</a>
                    }
                }
            </p>
        </a>
        <div class="list_separator"></div>
        <a class="list_link" href="/Home">
            <i class="fa-solid fa-home list_icon"></i>
            <p class="list_text">Home</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-signal list_icon"></i>
            <p class="list_text">Portfolio</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-eye list_icon"></i>
            <p class="list_text">Watchlist</p>
        </a>
        <div class="list_separator"></div>
        <a href="" class="list_link">
            <i class="fa-solid fa-calendar list_icon"></i>
            <p class="list_text">Calendar</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-list-check list_icon"></i>
            <p class="list_text">Portfolio Manager</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-chart-line list_icon"></i>
            <p class="list_text">Algorithm</p>
        </a>
        <div class="list_separator"></div>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
        <a href="" class="list_link">
            <i class="fa-solid fa-graduation-cap list_icon"></i>
            <p class="list_text">Education</p>
        </a>
    </div>


    <div class="content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        Terms & Conditions
        Privacy
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/web/event.js"></script>
    <script src="~/js/web/looper.js"></script>
    <script src="~/js/web/darkmode.js"></script>

    <script src="~/js/project/navbar.js"></script>
    <script src="~/js/project/sidebar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
