@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/identity/account.css" asp-append-version="true" />

<div class="form_container">
    <form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="POST">
        <div class="form_title_border"></div>
        <p class="form_title">Register</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating form_input_field">
            <input asp-for="Input.Email" class="form-control form_input" autocomplete="username" aria-required="true" required />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating form_input_field">
            <input asp-for="Input.Password" class="form-control form_input" autocomplete="new-password" aria-required="true"
                   required />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating form_input_field">
            <input asp-for="Input.ConfirmPassword" class="form-control form_input" autocomplete="new-password" aria-required="true"
                   required />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="button form_button">Register</button>
        <div class="form_separator"></div>
        <a class="button form_button register_button" asp-page="./Login">
            Sign In
        </a>
    </form>

    <p class="form_subtitle">Or Register with External Services</p>
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="POST"
          class="external_logins">
        @foreach (var provider in Model.ExternalLogins)
        {
            string name = "fa-brands fa-" + provider.Name.ToLower();
            if (name.Contains("facebook"))
            {
                name = "fa-brands fa-facebook-f";
            }
            <button type="submit" class="icon_button @name-button" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">
                <i class="symbol_icon @name"></i>
            </button>
        }
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
